In [17]:
import os

In [18]:
os.environ['OPEN_API_KEY']='key here'

## DB Connecion

In [10]:
from langchain_community.utilities import SQLDatabase


# if you are using MySQL
user='root'
password='1234'
db='chinook'
port='3306'

mysql_uri = f'mysql+mysqlconnector://{user}:{password}@localhost:{port}/{db}'
#mysql+mysqlconnector://username:password@host:port/database_name

db = SQLDatabase.from_uri(mysql_uri)

#TEST CONNECTION
db.run('Select * from ALBUM LIMIT 2')

"[(1, 'For Those About To Rock We Salute You', 1), (2, 'Balls to the Wall', 2)]"

In [23]:
# Returns schema
def get_schema(_):
    schema = db.get_table_info()
    return schema

In [24]:
from langchain_core.prompts import ChatPromptTemplate

template = """Based on the table schema below, write a SQL query that would answer the user's question:
{schema}

Question: {question}
SQL Query:"""
prompt = ChatPromptTemplate.from_template(template)

In [25]:
from langchain_core.output_parsers import StrOutputParser
from langchain_core.runnables import RunnablePassthrough
from langchain_openai import ChatOpenAI

llm = ChatOpenAI(api_key='sk-proj-w9DIBUw2kn4QSp6S38uDT3BlbkFJ7SPQcCY1c8LX1r3c9mCe')

sql_chain = (
    RunnablePassthrough.assign(schema=get_schema)
    | prompt
    | llm.bind(stop=["\nSQLResult:"])
    | StrOutputParser()
)

In [34]:
user_question = 'how many albums are there in the database?'
a='Which Customer has the highest total bill?'
sql_chain.invoke({"question": user_question})
sql_chain.invoke({"question": a})

# 'SELECT COUNT(*) AS TotalAlbums\nFROM Album;'

'SELECT c.FirstName, c.LastName, SUM(i.Total) AS TotalBill\nFROM customer c\nJOIN invoice i ON c.CustomerId = i.CustomerId\nGROUP BY c.CustomerId\nORDER BY TotalBill DESC\nLIMIT 1;'

In [27]:
template = """Based on the table schema below, question, sql query, and sql response, write a natural language response:
{schema}

Question: {question}
SQL Query: {query}
SQL Response: {response}"""
prompt_response = ChatPromptTemplate.from_template(template)

In [36]:
query='SELECT c.FirstName, c.LastName, SUM(i.Total) AS TotalBill\nFROM customer c\nJOIN invoice i ON c.CustomerId = i.CustomerId\nGROUP BY c.CustomerId\nORDER BY TotalBill DESC\nLIMIT 1;'
run_query(query)

"[('Helena', 'Holý', Decimal('49.62'))]"

In [28]:
def run_query(query):
    return db.run(query)

In [29]:
full_chain = (
    RunnablePassthrough.assign(query=sql_chain).assign(
        schema=get_schema,
        response=lambda vars: run_query(vars["query"]),
    )
    | prompt_response
    | llm
)

In [31]:
user_question = 'how many albums are there in the database?'
res=full_chain.invoke({"question": user_question})

In [32]:
res.content

'There are 347 albums in the database.'

In [38]:
user_question = 'Which Customer has the highest total bill?'
res=full_chain.invoke({"question": user_question})
res.content

'The customer with the highest total bill is Helena Holý with a total bill of $49.62.'